html[theme='light'] {
  --signup-text-color: var(--cwk-lightest);
  --signup-radial-inner: #5d646b;
  --signup-radial-outer: var(--cwk-dark);
  --cwk-hex-glow: hsla(210, 30%, 53%, 0.3);
  --cwk-hex-fill: var(--cwk-lightest);
}

html[theme='dark'] {
  --signup-text-color: var(--cwk-light);
  --signup-radial-inner: #43484e;
  --signup-radial-outer: var(--cwk-darker);
  --cwk-hex-glow: hsla(0, 0%, 85%, 0.3);
  --cwk-hex-fill: var(--cwk-dark);
}

@media (prefers-color-scheme: dark) {
  html {
    --signup-text-color: var(--cwk-light);
    --signup-radial-inner: #43484e;
    --signup-radial-outer: var(--cwk-darker);
    --cwk-hex-glow: hsla(0, 0%, 85%, 0.3);
    --cwk-hex-fill: var(--cwk-dark);
  }
}

/*
 *                            *
 *                            *
 *                            *
 *     MAIN + CTA SECTION     *
 *                            *
 *                            *
 *                            *
 *                            */

main {
  margin: 0 auto;
  padding-top: 75px;
  max-width: var(--cwk-full-width);
}

h1 {
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  font-size: 26px; /* 50px */
  margin-bottom: 6px;
}

h2 {
  margin-top: 6px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 20px;
}

#cta-section a:focus,
#cta-section button:focus {
  box-shadow: 0 0 0 2px var(--cwk-darkest);
  outline: none;
}

#cta-section button:hover,
#cta-section a:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}

#cta-section a:focus:hover,
#cta-section button:focus:hover {
  box-shadow: 0 0 0 2px var(--cwk-darkest), 0 4px 12px rgba(0, 0, 0, 0.5);
}

section {
  margin-bottom: 200px;
}

section:first-child {
  margin-bottom: 125px;
}

@media (min-width: 1600px) {
  section,
  section:first-child {
    margin-bottom: 250px;
  }
}

#cta-section {
  padding: 0 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cta-buttons {
  margin-bottom: 20px;
}

.cta-buttons > a,
.cta-buttons > button,
.ref-buttons > a {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  margin-top: 5px;
}

#cta-section .cta-buttons > a:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-blue);
  outline: none;
}

#cta-section .cta-buttons > a:focus:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 0 0 2px var(--cwk-primary-blue);
}

.cta-buttons > a {
  font-family: Roboto Slab, sans-serif;
  padding: 10px 25px;
  background: linear-gradient(0.15turn, var(--cwk-darkest), var(--cwk-dark));
}

#copy-npm-btn,
.cta-buttons > a {
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  color: var(--cwk-lightest);
}

#copy-npm-btn {
  border: none;
  cursor: pointer;
  font-family: Dank Mono, sans-serif;
  padding: 10px 15px;
  background: linear-gradient(0.15turn, var(--cwk-secondary-blue), var(--cwk-primary-blue));
}

#copy-npm-btn svg {
  color: var(--cwk-lightest);
  width: 16px;
  margin-left: 20px;
  vertical-align: sub;
}

.ref-buttons > a {
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  font-size: 10px;
  padding: 8px 20px;
  border-radius: 6px;
  color: var(--cwk-lightest);
  background: linear-gradient(0.15turn, var(--cwk-secondary-green), var(--cwk-primary-green));
}

@media (min-width: 600px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 26px;
  }

  #copy-npm-btn,
  .cta-buttons > a {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ref-buttons > a {
    margin-left: 8px;
  }

  .cta-buttons > a,
  .cta-buttons > button,
  .ref-buttons > a {
    width: auto;
    display: inline-block;
  }

  #copy-npm-btn {
    min-width: 275px;
  }

  #copy-npm-btn,
  .cta-buttons > a {
    font-size: 1em; /* 1em */
  }
}

/*
 *                            *
 *                            *
 *                            *
 *       MOVIE SECTIONS       *
 *                            *
 *                            *
 *                            *
 *                            */

#connect-section,
#frontend-section,
#backend-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

#frontend-section {
  flex-direction: column;
}

.video-wrapper {
  max-width: 800px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 60px var(--cwk-video-shadow);
}

.video-wrapper video {
  width: 100%;
  height: 100%;
}

.hex-bg {
  position: absolute;
  width: 100%;
  max-width: 1000px;
  transform: translateY(80px);
  z-index: -1;
}

#frontend-section .hex-bg {
  transform: translateY(250px);
}

.text-wrapper > h3 {
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
}

.text-wrapper > p {
  font-size: 20px;
  margin: 0;
}

.text-wrapper {
  margin-bottom: 50px;
  padding: 0 40px;
}

@media (min-width: 420px) {
  .hex-bg {
    transform: translateY(120px);
  }

  #frontend-section .hex-bg {
    transform: translateY(180px);
  }
}

@media (min-width: 600px) {
  .text-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-width: 840px) {
  .video-wrapper {
    border-radius: 10px;
  }

  .video-wrapper video {
    border-radius: 10px;
  }
}

@media (min-width: 1600px) {
  #connect-section,
  #frontend-section,
  #backend-section {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .flex-gutter {
    flex: 1 0 70px;
  }

  .text-wrapper {
    margin-bottom: 80px;
    min-width: 350px;
  }

  .hex-bg {
    transform: translateX(-50px);
  }

  #frontend-section .hex-bg {
    right: 0;
    transform: translateX(50px);
  }
}

/*
 *                            *
 *                            *
 *                            *
 *     SUBSCRIBE FOR MORE     *
 *                            *
 *                            *
 *                            *
 *                            */

#signup-section {
  max-width: var(--cwk-content-width);
  text-align: center;
  margin: 0 auto 120px auto;
  color: var(--signup-text-color);
}

#signup-section > .signup-wrapper {
  padding: 70px 30px;
  background: radial-gradient(
    circle at 50%,
    var(--signup-radial-inner),
    var(--signup-radial-outer),
    140%,
    var(--signup-radial-outer),
    var(--signup-radial-outer)
  );
}

#signup-section h3 {
  margin-top: 0;
  font-family: Roboto Slab, sans-serif;
  font-size: 40px;
}

#signup-section p {
  max-width: 500px;
  margin: 16px auto;
}

#signup-section label {
  display: block;
  padding-top: 10px;
}

#signup-section input {
  border-radius: 4px;
  height: 34px;
  margin: 10px;
  border: none;
  min-width: 200px;
}

#subscribe-button {
  display: inline-block;
  border: none;
  font-family: Roboto Slab, sans-serif;
  font-weight: normal;
  margin: 10px auto 0 auto;
  padding: 10px 15px;
  background: linear-gradient(0.15turn, var(--cwk-secondary-blue), var(--cwk-primary-blue));
  color: var(--cwk-lightest);
  border-radius: 6px;
  text-decoration: none;
}

#subscribe-button.subscribed {
  border-bottom: solid 4px var(--cwk-primary-green);
}

#subscribe-button:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-blue);
  outline: none;
}

#subscribe-button.subscribed:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-green);
}

#subscribe-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}

#subscribe-button:hover:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-blue), 0 4px 12px rgba(0, 0, 0, 0.5);
}

#subscribe-button.subscribed:hover:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-green), 0 4px 12px rgba(0, 0, 0, 0.5);
}

@media (min-width: 840px) {
  #signup-section {
    padding: 0 40px;
  }

  #signup-section > .signup-wrapper {
    border-radius: 20px;
  }
}

/*
 *                            *
 *                            *
 *                            *
 *       SELLING POINTS       *
 *                            *
 *                            *
 *                            *
 *                            */

#selling-points-section {
  max-width: var(--cwk-content-width);
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  column-gap: 150px;
  grid-template-areas: 'a' 'a' 'a' 'a' 'a' 'a';
  margin-bottom: 120px;
}

#selling-points-section h4 {
  font-family: Roboto Slab, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
}

#selling-points-section p > a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}

#selling-points-section p > a:hover {
  text-decoration: underline;
}

@media (min-width: 840px) {
  #selling-points-section {
    column-gap: 75px;
    grid-template-areas: 'a a' 'a a' 'a a';
  }
}

@media (min-width: 1280px) {
  #selling-points-section {
    column-gap: 150px;
  }
}

/*
 *                            *
 *                            *
 *                            *
 *           FOOTER           *
 *                            *
 *                            *
 *                            *
 *                            */
/* temp 1px for now */
footer {
  height: 1px;
}
