main {
  margin: 75px auto 0 auto;
  width: max-content;
}

cwk-auth-form {
  margin-bottom: 40px;
}

.login-signup-buttons {
  display: flex;
}

.form-btn {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 14px;
  font-family: Roboto Slab, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 6px;
  color: var(--cwk-lightest);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.form-btn--primary {
  transition: width 0.5s ease-in-out;
  background: linear-gradient(0.15turn, var(--cwk-secondary-blue), var(--cwk-primary-blue));
}

.form-btn--secondary {
  margin-left: 15px;
  background: linear-gradient(0.15turn, var(--cwk-darkest), var(--cwk-dark));
}

.form-btn--primary:focus {
  box-shadow: 0 0 0 2px var(--cwk-darkest);
  outline: none;
}

.form-btn--secondary:focus {
  box-shadow: 0 0 0 2px var(--cwk-primary-blue);
  outline: none;
}

.form-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease;
}

.form-btn--primary:focus:hover {
  box-shadow: 0 0 0 2px var(--cwk-darkest), 0 4px 12px rgba(0, 0, 0, 0.5);
}

.form-btn--secondary:focus:hover {
  box-shadow: 0 0 0 2px var(--cwk-primary-blue), 0 4px 12px rgba(0, 0, 0, 0.5);
}

.forgot-password {
  display: block;
  width: max-content;
  font-size: 12px;
  margin-top: -4px;
  padding-top: 4px;
  padding-bottom: 10px;
  color: var(--link-color);
}

.form-btn--github {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: var(--cwk-darker);
  background-color: var(--cwk-lightest);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid var(--cwk-darker);
}

.form-btn--github cwk-svg svg {
  display: block;
  width: 20px;
}

.form-btn--github div {
  flex-grow: 1;
  margin-right: -5px;
}
