html[theme='light'] {
  --card-background-color: var(--cwk-light);
}

html[theme='dark'] {
  --card-background-color: var(--cwk-darker);
}

@media (prefers-color-scheme: dark) {
  html {
    --card-background-color: var(--cwk-darker);
  }
}

main {
  padding: 0 50px;
  margin: 100px auto;
  max-width: var(--cwk-content-width);
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

.articles {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  justify-content: center;
}

article {
  position: relative;
  max-width: 400px;
  max-height: 350px;
  border-radius: 10px;
  background-color: var(--card-background-color);
  overflow: hidden;
  box-shadow: 0px 5px 25px var(--cwk-darker);
}

.caption {
  display: block;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.caption img {
  width: 100%;
}

.content {
  padding: 15px;
}

.content a {
  text-decoration: none;
  color: var(--cwk-primary-blue);
}

.content p {
  margin-bottom: 3em;
}

.content h2 {
  margin-top: 0;
}

.timestamp {
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 14px;
  right: 0;
}
